
body {
    background-color: #DDDD00;
}

h1 {
    font-family: Garamond, "Times New Roman", serif;
    font-size: 2.5em;
    font-weight: bold;
    color: hsla(45, 77%, 17%, 0.849);
}

span {

    font-family: Garamond, "Times New Roman", serif;
    font-size: 1.6em;
    color: hsla(45, 77%, 17%, 0.849);

}

h2, dt {
    color: darkred
}

/* a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  } */

  /* p::first-letter{

    font-size: 1.5em;

  } */

  body {
    max-width: 1024px;
    margin: auto;
    /* background-color: aqua; */
  }

  form{


    background-color: aqua ; 
    text-align: center;
    /* color: aquamarine */




  }